/* couleur : Jaune = feca2eff
             Vert = 1e6f43ff
             Rouge = ea2e21ff
             Bleu light = 96daffff
             Bleu Foncee = 4545eeff */

             @font-face {
                font-family:"GeneralSans-Regular";
                src: url(./Fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
               }
               
               @font-face {
               font-family:"GeneralSans-Medium";
                src: url(./Fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Medium.otf);
               }
  
               @font-face{
                font-family: "GeneralSans-SemiboldI";
                src: url(./Fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-SemiboldItalic.otf);
               }

               html{
                scroll-behavior: smooth;
                scroll-padding-top: 97px;
               }
  
               body {
                  padding: 0px;
                  margin: 110px 0 0 0;
                  font-size: 20px;
                  font-family: "GeneralSans-Regular", Arial, Helvetica, sans-serif;
                  background-image: url(./Background/Background-Bao-Main.png);
                  color: black;
                  display: flex;
                  flex-wrap: wrap;
                }
              
              body  h1 {
                font-family: "GeneralSans-SemiboldI", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              }
  
              body  h2 {
                font-family: "GeneralSans-Medium", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif ;
              }
  
              span {
                font-weight: bold;
              } 

              header {
                position: fixed;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 5px;
                top: 0px;
                border-bottom: 2.5px solid #1e6f43ff;
                height: 90px;
                background-color: white;                
                width: 100vw;
                z-index: 1;                 
              }
  
              #logo {         
                height: 80px;
                width: 140x;
                margin-top: 5px;
                margin-left: 5px;
              }
              
              #pong {
                display: flex;                          
              }
              
              #pong p {     
                color: grey;
                font-size: 19px;
                min-width: 360px;
                text-align: center;
       
              }
              
              nav {
               display: flex;
               margin-left: auto;
              }
              
              nav ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin-right: 2vw;               
              }
  
              nav ul li {            
                margin-right: 20px;
              }              
              
              
              .btn {
                background-color: white;
                text-decoration: none;
                padding: 10px;
                border-radius: 20px;
                color: #1e6f43ff;
                border: 2px solid #1e6f43ff;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
              }
              
              .btn:hover {
                background-color: #1e6f43ff;
                text-decoration: none;
                padding: 10px;
                border-radius: 20px;
                color: white;
                border: 2px solid white;
                font-weight: bold;
              }             
  
              .titre {
                display: flex;
                justify-content: center;
                align-items: center;  
                width: 100%;                                
              }
                           
              a {
                text-decoration: none;
              }

              span {
                display: contents;
              }
              
                #containerimgevenement{
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                    width: 100vw;
                }

              #imgevenement {
                display: flex;
                height: 800px;
                width: 550px;                
                filter: opacity(90%);
                }
              
              #imgevenement:hover {
                filter: opacity(100%);
                transform: scale(1.17,1.17);
                transition: all 1s ease;
              }
              
              p {
                padding-right: 3px;
                padding-left: 5px;
                min-width: 350px;
              }

              #partieverte {
                margin: 0 3%;
                background-color: rgba(110, 247, 128, 0.199);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
              }
              
              #qui {
                display: flex;
                flex-wrap: wrap;                        
              }
              
              #imgq1 {
                display: flex;
                flex-wrap: wrap;  
                width: 500px;   
                border-radius: 50%;                          
                border: 2px solid white;
                transition: all 0.5s ease;     
              } 
            
  
              #imgq1:hover {
              max-height: 100%;
              width: 500px;
              border-radius: 10px;
              border: 2px solid white;
              }
             
              
              #lieu11 {
                display: flex;
                flex-wrap: wrap;
                 width: 90vw;             
              }

              #lieu12 {
                display: flex;
                flex-wrap: wrap;
                 width: 90vw;               
              }

              #lieu2 {
                width: 90vw;
              }
  
              #imgforecariah {
                height: 50vh;
                width: 35vw;
                display: flex;
                flex-wrap: wrap;
                border-radius: 50%;
                padding: 25px 0;                
              }
  
              #imgforecariah:hover {
                transform: scale(1.2,1.15);
                transition:1s ease-in-out;                 
              }

                        
              #lieu3 {
                display: flex;
                flex-wrap: wrap;                           
              }

  
              #imgouinouin {
                display: flex;
                flex-wrap: wrap;
                margin-top: 60px;
                padding-top: 50px;
                padding-bottom: 50px;
                width: 500px;   
                border-radius: 50%;                       
              }
  
              #imgouinouin:hover {
                transform: scale(1.2,1.2);
                border-radius: 0;
                transition: all 0.5s ease;
                border-radius: 40%;
                width: 500px;             
              }

              #partiejaune {
                background-color: rgba(231, 193, 78, 0.199);
                margin: 0 3%;               
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
              }

              .txt {
                width: 60%;
              }
                           
              #sass {
                display: flex;
                flex-wrap: wrap;             
              }


              #imgvuesass {
                display: flex;
                flex-wrap: wrap;      
                height: 320px;
                width: 320px;
                border-radius: 50%;
                margin-top: 150px;                
              }
  
              #imgvuesass:hover{
                transform: scale(1.2,1.2);
                border-radius: 0%;
                transition: all 0.5s ease;
                border-radius: 50%;
                width: 400px;
              }
  
              #imgmaires{
                display: flex;
                flex-wrap: wrap;            
                height: 320px;
                width: 320px;
                border-radius: 50%;
                margin-top: 70px;
              }
  
              #imgmaires:hover{
                transform: scale(1.2,1.2);
                border-radius: 0%;
                transition: all 0.5s ease;
                border-radius: 50%;
                width: 400px;
              }

              #imgacteur {
                display: flex;
                flex-wrap: wrap;        
                height: 320px;
                width: 320px;
                border-radius: 50%;
                margin-top: 100px;
              }      
              
              #imgacteur:hover{
                transform: scale(1.2,1.2);
                border-radius: 0%;
                transition: all 0.5s ease;
                border-radius: 50%;
                width: 400px;
              }  
  
              #coop {
                display: flex;
                flex-wrap: wrap;             
              }
                                             
              #imgconv {
                height: 320px;
                width: 320px;            
                border-radius: 50%;
              }
              
              #perspective {
                display: flex;
                flex-wrap: wrap;             
                width: 60vw;
              }
              
              #sactivite {
                display: flex;
                flex-wrap: wrap;          
                width: 60vw;
                margin-right: 25vw;     
              }

              #partierouge {
                background-color: rgba(234, 46, 33, 0.199);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 3%;
              }
              
              #action-acc {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 50%;
                min-width: 250px;
                text-align: center;
                }
              
              #action-venir {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                width: 50%;
              }

              #partierouge #action-venir h2 {
                padding-left: 40px;
                } 

              #partiegrise {
                background-color: rgba(230, 230, 230, 0.39);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 3%;
                width: 100%;
              }

              #contact {
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                margin: 0; 
              }

              #contact p {
                margin: 5px;
                font-weight: bold;
              }

              #contact img {
                height: 6%;
                width: 8%;
                margin-top: 4%;
                margin-bottom: 1%;
              }
  
              #gallery {             
                display: grid;  
                grid-template-columns: repeat(9,149px);      
                grid-template-rows: repeat(12, 150px);
                grid-auto-rows: 150px;
                margin-left: 174px;
                margin-right: 174px;
                gap: 20px;            
                }

              #gallery > div {
                display: flex;
                justify-content: left;
                align-items:flex-end;
                text-align: left;
              }
        
              #gallery .galleryitems {
               border: 5px solid rgb(71, 70, 70);
               box-shadow:3px 3px 6px grey ;
               background-size:cover;
               background-position: center;
               background-repeat: no-repeat;                                                                     
               }
  
               #gallery .galleryitems:hover {
                transition: all 0.2s ease;
                box-shadow:10px 10px 15px grey ;
                border: 7px solid grey;
               }
               
               #gallery .galleryitems p {
                font-family: "GeneralSans-Regular", Arial, Helvetica, sans-serif;
                color: white;
                font-weight: bold;
                background-color: rgba(48, 47, 47, 0.275);
                backdrop-filter: blur(2px);
               }


       
              /* Photo cooperation*/
              #G1 {
                grid-area: 1 / 1 / 3 / 4 ;
                background-image: url(./images/Gallery/acteurs.jpg);
              }
              /* Photo camion*/
              #G2 {
                grid-area: 1 / 4 / 3 / 7 ;
                background-image: url(./images/Gallery/camion.jpg)
              }
              /* Photo char*/
              #G3 {
                grid-area: 6 / 7 / 9 / 10 ;
                background-image: url(./images/Gallery/char.jpg)
              }
              /* Photo maison d'acceuil*/ 
              #G4 {
                grid-area: 3 / 3 / 5 / 7 ;
                background-image: url(./images/Gallery/construction.jpg)
              }
              /* Photo Baobab*/
              #G5 {
                grid-area: 3 / 1 / 5 / 3 ;
                background-image: url(./images/Gallery/dia1_arbre.jpg)
              } #G5 p { min-width: 0px;}
              /* Photo classe*/
              #G6 {
                grid-area: 7 / 4 / 9 / 7 ;
                background-image: url(./images/Gallery/dia2_classe600.jpg)
              }
              /*Photo ecolier*/
              #G7 {
                grid-area: 11 / 1 / 13 / 10 ;
                background-image: url(./images/Gallery/ecoliers.jpg)
              }
              /*Photo soeur/frere*/
              #G8 {
                grid-area: 1 / 7 / 6 / 10;
                background-image: url(./images/Gallery/dia3_bebe.png)
              }
              /* Photo mangroves*/
              #G9 {
                grid-area: 9 / 1 / 11 / 4 ;
                background-image: url(./images/Gallery/dia4_mangrove330.jpg)
              }
             /* Photo maires */
              #G10 {
                grid-area: 7 / 1 / 9 / 4 ;
                background-image: url(./images/Gallery/maires.jpg);
              }  
              /*Photo pasteques*/
              #G11 {
                grid-area: 9 / 4 / 11 / 10 ;
                background-image: url(./images/Gallery/pasteque260_75.jpg)
              }
              /*Photo pont*/
              #G12 {
                grid-area: 5 / 1 / 7 / 7 ;
                background-image: url(./images/Gallery/pont_bandeau_260.jpg)
              }

              #basdepage {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
              }

              #basdepage {
                display: flex;
                margin-top: 1.2%;
                margin-bottom: 1.5%;
              }

              #basdepage a {
                display: flex;
                justify-content: center;
                margin-top: 0%;
                font-size: 2em;
              }

                #basdepage a {
                background-image: linear-gradient(45deg,#ea2e21ff,#feca2eff,#1e6f43ff );
                background-clip: text;
                color: transparent;
              }




              /* Media Quires*/
              @media screen and (max-width: 1676px) {
                #gallery {             
                  margin-right: 0px;
                  margin-left: 0px;
                }

                #imgevenement {
                  height: 70vh;
                  width: 40vw;
                }
            
              }
/*-------------------------------------------------------------------------------------------------------------------------------*/
              @media screen and (max-width: 1500px) {

                #imgevenement {
                  height: 70vh;
                  width: 30vw;
                }
                #imgvuesass {    
                  height: 40vh;
                  width: 60vw;
                  margin-left: 5vw;
                  border-radius: 50%;
                  margin-top: 5px;                
                }
    
                #imgvuesass:hover{
                  transform: none;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }

                #coop {
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
                text-align: center;
                justify-content: center;

                }

                #imgmaires{                             
                  height: 40vh;
                  width: 60vw;
                  border-radius: 50%;
                  margin-top: 5px;
                  margin-left: 0vw;
                }
    
                #imgmaires:hover{
                  transform: none;
                  border-radius: 50%;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }
                
                #perspective {
                width: 100vw;
                text-align: center;
                justify-content: center;
                }

                #imgacteur {    
                  height: 40vh;
                  width: 60vw;
                  border-radius: 50%;
                  margin-top: 5px;
                  margin-left: 0;
                }      
                
                #imgacteur:hover{
                  transform: none;
                  border-radius: 50%;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }

                #gallery {            
                  display: grid;  
                grid-template-columns: repeat(9,149px);      
                grid-template-rows: repeat(18, 150px);
                margin-left: 0;
                margin-right: 0;
                gap: 20px;
                }
                /* Photo cooperation*/
              #G1 {
                grid-area: 1 / 2 / 3 / 6 ;
              }
              /* Photo camion*/
              #G2 {
                grid-area: 3 / 2 / 5 / 6 ;
              }
              /* Photo char*/
              #G3 {
                grid-area: 5 / 2 / 7 / 6 ;
              }
              /* Photo maison d'acceuil*/ 
              #G4 {
                grid-area: 7 / 2 / 9 / 6 ;
              }
              /* Photo Baobab*/
              #G5 {
                grid-area: 6 / 6 / 10 / 9 ;
              } #G5 p { min-width: 0px;}
              /* Photo classe*/
              #G6 {
                grid-area: 9 / 2 / 11 / 6 ;
              }
              /*Photo ecolier*/
              #G7 {
                grid-area: 15 / 2 / 17 / 9 ;
              }
              /*Photo soeur/frere*/
              #G8 {
                grid-area: 1 / 6 / 6 / 9;
              }
              /* Photo mangroves*/
              #G9 {
                grid-area: 10 / 6 / 13 / 9 ;
              }
             /* Photo maires */
              #G10 {
                grid-area: 11 / 2 / 13 / 6 ;
              }  
              /*Photo pasteques*/
              #G11 {
                grid-area: 13 / 2 / 15 / 9 ;
              }
              /*Photo pont*/
              #G12 {
                grid-area: 17 / 2 / 19 / 9 ;
              }

              }

/*-------------------------------------------------------------------------------------------------------------------------------*/
            @media screen and (max-width: 1341px) {

              header {
                border-bottom: 2px solid #1e6f43ff;               
              }
              
              #imgevenement {
                height: 70vh;
                width: 30vw;
              }

              .txt {
                width: 90vw;
              }
              
              #imgvuesass {    
                height: 40vh;
                width: 60vw;
                margin-left: 5vw;
                border-radius: 50%;
                margin-top: 5px;                
              }
  
              #imgvuesass:hover{
                transform: none;
                transition: none;
                border-radius: none;
                width: 60vw;
              }

              #coop {
              display: flex;
              flex-wrap: wrap;
              width: 100vw;
              text-align: center;
              justify-content: center;

              }

              #imgmaires{                             
                height: 40vh;
                width: 60vw;
                border-radius: 50%;
                margin-top: 5px;
                margin-left: 0vw;
              }
  
              #imgmaires:hover{
                transform: none;
                border-radius: 50%;
                transition: none;
                border-radius: none;
                width: 60vw;
              }
              
              #perspective {
              width: 100vw;
              text-align: center;
              justify-content: center;
              }

              #imgacteur {    
                height: 40vh;
                width: 60vw;
                border-radius: 50%;
                margin-top: 5px;
                margin-left: 0;
              }      
              
              #imgacteur:hover{
                transform: none;
                border-radius: 50%;
                transition: none;
                border-radius: none;
                width: 60vw;
              }

              #sactivite {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
              }

              /* Photo cooperation*/
              #G1 {
                grid-area: 1 / 1 / 3 / 5 ;
              }
              /* Photo camion*/
              #G2 {
                grid-area: 3 / 1 / 5 / 5 ;
              }
              /* Photo char*/
              #G3 {
                grid-area: 5 / 1 / 7 / 5 ;
              }
              /* Photo maison d'acceuil*/ 
              #G4 {
                grid-area: 7 / 1 / 9 / 5 ;
              }
              /* Photo Baobab*/
              #G5 {
                grid-area: 6 / 5 / 10 / 8 ;
              } #G5 p { min-width: 0px;}
              /* Photo classe*/
              #G6 {
                grid-area: 9 / 1 / 11 / 5 ;
              }
              /*Photo ecolier*/
              #G7 {
                grid-area: 15 / 1 / 17 / 8 ;
              }
              /*Photo soeur/frere*/
              #G8 {
                grid-area: 1 / 5 / 6 / 8;
              }
              /* Photo mangroves*/
              #G9 {
                grid-area: 10 / 5 / 13 / 8 ;
              }
             /* Photo maires */
              #G10 {
                grid-area: 11 / 1 / 13 / 5 ;
              }  
              /*Photo pasteques*/
              #G11 {
                grid-area: 13 / 1 / 15 / 8 ;
              }
              /*Photo pont*/
              #G12 {
                grid-area: 17 / 1 / 19 / 8 ;
              }

            }
 /*---------------------------------------------------------------------------------------------------------*/             
              @media screen and (max-width: 1081px) {
                body {               
                  font-size: 18px;                
                }
              
                header {
                  height: 60px;
                  border-bottom: 2px solid #1e6f43ff;               

                }
  
                #logocontainer {
                  display: flex;
                  margin: 0;
                }
  
                
                #logo {
                  display: flex;
                  height: 55px;
                  width: 80px;
                  margin-top: 2.5px;
                }
  
                nav {
                  display: flex;
                  margin-left: none;
                 }
  
                nav ul li {            
                  margin-right: 9px;
                  font-size: 15px;
                }
  
                #pong {
                  display: flex;
                  max-width: 280px;
                }
  
                #pong p {
                  font-size: 15px;
                  min-width: 280px;
                }
  
                .btn {
                  padding: 5px;
                  border-radius: 20px;               
                }

                .btn {
                  border: 1.5px solid #1e6f43ff;
                }
                
                .btn:hover {
                  border: 1.5px solid white;
                } 

                .txt {
                  width: 90vw;
                }
  
                p {
                    display: flex;
                    justify-content: center;
                    padding-left: 5px;
                  }
  
                h2 {
                  padding-left: 2.5px;
                }

                .txt {
                  width: 90vw;
                }

                .imgverte {
                  width: 60vw;
                }
  
                #imgevenement {
                  height: 65vh;
                  width: 45vw;
                }
  
                #imgevenement:hover {
                    transform: none;
                    transition: none;
                  }
  
                #partieverte {
                    margin: 0 0;
                    background-color: rgba(110, 247, 128, 0.199);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100vw;
                  }
  
                  #qui {
                    display: flex;
                    flex-wrap: wrap;             
                    width: 90vw;                           
                  }
  
                #imgq1 {  
                    border-radius: 50%;                          
                    border: 2px solid white;
                    transition: none;
                    margin-left: 5vw;
                   }
    
                #imgq1:hover {
                   max-height: none;
                   width: 60vw;
                   border-radius: 50%;
                   border: none; 
                  }
  
                #imgforecariah {
                    display: flex;                
                    border-radius: 50%;
                    margin-left: 5vw;
                    padding: 50px 0;
                    width: 60vw;
                    }
        
                #imgforecariah:hover {
                      transform: none;
                      transition:none;
                      border-radius: none;                
                    } 
  
                #imgouinouin {
                  margin-top: 0px;
                  margin-left: 5vw;
                  padding-top: 0px;
                  padding-bottom: 10px;  
                  border-radius: 50%;                       
                }
    
                #imgouinouin:hover {
                  transform: none;
                  border-radius: 50%;
                  transition: none;
                  width: 90vw;         
                }
  
                  #partiejaune {
                    background-color: rgba(231, 193, 78, 0.199);
                    margin: 0 0;
                    width: 100vw;              
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                  }                
  
                  #imgvuesass {    
                    height: 40vh;
                    width: 70vw;
                    margin-left: 5vw;
                    border-radius: 50%;
                    margin-top: 5px;                
                  }
      
                  #imgvuesass:hover{
                    transform: none;
                    transition: none;
                    border-radius: none;
                    width: 70vw;            
                  }
                  #coop {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 90vw;
                    text-align: center;       
                  }
  
                  #imgmaires{                             
                    height: 40vh;
                    width: 70vw;
                    border-radius: 50%;
                    margin-top: 5px;
                    margin-left: 5vw;
                  }
      
                  #imgmaires:hover{
                    transform: none;
                    border-radius: 50%;
                    transition: none;
                    border-radius: none;
                    width: 70vw;
                  }
                  
                  #perspetive {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 90vw;
                    text-align: left;

                  }
  
                  #imgacteur {      
                    height: 40vh;
                    width: 70vw;
                    border-radius: 50%;
                    margin-top: 5px;
                    margin-left: 5vw;
                  }      
                  
                  #imgacteur:hover{
                    transform: none;
                    border-radius: 50%;
                    transition: none;
                    border-radius: none;
                    width: 70vw;
                  }
  
                  #partierouge {
                    background-color: rgba(234, 46, 33, 0.199);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content:center;
                    margin: 0 0;
                  }

                  #partierouge #action-acc h2 {
                    width: 130px;
                    }
  
                  #partiegrise {
                    background-color: rgba(230, 230, 230, 0.39);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0 0;
                    width: 100%;
                  }
                  #gallery {             
                    display: grid;                   
                    grid-template-columns: repeat(10,10vw);      
                    grid-template-rows: repeat(49, 10vh);                  
                    gap: 5px; 
                    margin-left: 0px;
                    margin-right: 0px;
                  }
  
                  #gallery .galleryitems {
                    width: 100%;
                    height: 100%;
                    border: 2px solid rgb(71, 70, 70);
                    box-shadow:3px 3px 6px grey ;                                                                            
                    }
  
                    #gallery .galleryitems:hover {
                      transition: none;
                      box-shadow:5px 5px 10px grey ;
                      border: 4px solid grey;
                     }   
  
                  /* Photo cooperation*/
                  #G1 {
                    grid-area: 1 / 1 / 6 / 11 ;
                  }
  
                  /* Photo camion*/
                  #G2 {
                    grid-area: 6 / 1 / 10 / 11 ;
                  }
  
                  /* Photo char*/
                  #G3 {
                    grid-area: 10 / 1 / 14 / 11 ;
                  }
  
                  /* Photo maison d'acceuil*/              
                  #G4 {
                    grid-area: 14 / 1 / 19 / 11 ;
                  }
                  /* Photo Baobab*/
  
                  #G5 {
                    grid-area: 19 / 1 / 26 / 11 ;
                  }
                  /* Photo classe*/
  
                  #G6 {
                    grid-area: 26 / 1 / 29 / 11 ;
                  }
  
                  /*Photo ecolier*/
                  #G7 {
                    grid-area: 29 / 1 / 32 / 11 ;
                  }
  
                  /*Photo soeur/frere*/
                  #G8 {
                    grid-area: 32 / 1 / 47 / 11;
                  }
  
                  /* Photo mangroves*/
                  #G9 {
                    grid-area: 47 / 1 / 53 / 11 ;
                  }
  
                 /* Photo maires */
                  #G10 {
                    grid-area: 53 / 1 / 56 / 11 ;
                  }
      
                  /*Photo pasteques*/
                  #G11 {
                    grid-area: 56 / 1 / 58 / 11 ;
                  }
  
                  /*Photo pont*/
                  #G12 {
                    grid-area: 58 / 1 / 60 / 11 ;
                  }           

              }
/*---------------------------------------------------------------------------------------------------------------------------*/
              @media screen and (max-width: 744px) {              

              header{
                height: 105px;
                border-bottom: 1.5px solid #1e6f43ff;               
              }

              nav {
                display: flex;
                margin-left: auto;
                margin-right: auto;
               }

               .btn {
                border: 1.5px solid #1e6f43ff;
              }
              
              .btn:hover {
                border: 1.5px solid white;
              }

              #imgevenement {
                height: 70vh;
                width: 60vw;
              }

              #imgevenement:hover {
                transform: none;
                transition: none;
              }

              }

 /*--------------------------------------------------------------------------------------------------------------------------*/

            @media screen and (max-width: 450px) {

              body {               
                font-size: 15px;                
              }
            
              header {
                height: 105px;
                border-bottom: 1px solid #1e6f43ff;               
              }

              .btn {
                border: 1px solid #1e6f43ff;
              }
              
              .btn:hover {
                border: 1px solid white;
              } 

              #logocontainer {
                display: flex;
                margin: 0;
              }

              
              #logo {
                display: flex;
                height: 55px;
                width: 80px;
                margin-top: 5px;
              }

              nav {
                display: flex;
                margin-left: auto;
                margin-right: auto;
               }

              nav ul li {            
                margin-right: 12px;
                font-size: 14px;
              }

              #pong {
                display: flex;
                max-width: 200px;
              }

              #pong p {
                font-size: 13px;
                min-width: 240px;
              }

              .btn {
                padding: 5px;
                border-radius: 20px;               
              }

              .titre {
                text-align: center;
              }

              p {
                  display: flex;
                  justify-content: center;
                  padding-left: 5px;
                }

              h2 {
                padding-left: 2.5px;
              }

              #imgevenement {
                height: 70vh;
                width: 90vw;
              }

              #imgevenement:hover {
                  transform: none;
                  transition: none;
                }

              #partieverte {
                  margin: 0 0;
                  background-color: rgba(110, 247, 128, 0.199);
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  width: 100vw;
                }

                #qui {
                  display: flex;
                  flex-wrap: wrap;
                  width: 100vw;
                  text-align: center;
                  justify-content: center;
                                    
                }

              #imgq1 {  
                  width: 90vw;   
                  border-radius: 50%;                          
                  border: 2px solid white;
                  transition: none;
                  margin-left: 5vw;
                 }
  
              #imgq1:hover {
                 max-height: none;
                 width: 90vw;
                 border-radius: 50%;
                 border: none; 
                }

              #imgforecariah {
                  height: 30vh;               
                  width: 90vw;
                  border-radius: 50%;
                  padding: 0 0;
                  }
      
              #imgforecariah:hover {
                    transform: none;
                    transition:none;
                    border-radius: none;                
                  }
            #lieu11 {
              width: 100vw;
                  text-align: center;
                  justify-content: center;
            }

            #lieu12{
              width: 100vw;
              text-align: center;
              justify-content: center;
            }

            #lieu2{
              width: 100vw;
              text-align: center;
              justify-content: center;
            }

            #lieu3{
              width: 100vw;
              text-align: center;
              justify-content: center;
            }

              #imgouinouin {
                margin-top: 0px;
                margin-left: 5vw;
                padding-top: 0px;
                padding-bottom: 10px;
                width: 90vw;   
                border-radius: 50%;                       
              }
  
              #imgouinouin:hover {
                transform: none;
                border-radius: 50%;
                transition: none;
                width: 90vw;         
              }

                #partiejaune {
                  background-color: rgba(231, 193, 78, 0.199);
                  margin: 0 0;
                  width: 100vw;              
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                }
                
                #sass {
                width: 100vw;
                text-align: center;
                justify-content: center;
                }

                #imgvuesass {    
                  height: 30vh;
                  width: 60vw;
                  margin-left: 5vw;
                  border-radius: 50%;
                  margin-top: 5px;                
                }
    
                #imgvuesass:hover{
                  transform: none;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }

                #coop {
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
                text-align: center;
                justify-content: center;

                }

                #imgmaires{                             
                  height: 30vh;
                  width: 60vw;
                  border-radius: 50%;
                  margin-top: 5px;
                  margin-left: 0vw;
                }
    
                #imgmaires:hover{
                  transform: none;
                  border-radius: 50%;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }
                
                #perspective {
                width: 100vw;
                text-align: center;
                justify-content: center;
                }

                #imgacteur {    
                  height: 30vh;
                  width: 60vw;
                  border-radius: 50%;
                  margin-top: 5px;
                  margin-left: 0;
                }      
                
                #imgacteur:hover{
                  transform: none;
                  border-radius: 50%;
                  transition: none;
                  border-radius: none;
                  width: 60vw;
                }

                #sactivite {
                  margin-right: 0
                  ;
                  width: 100vw;
                  text-align: center;
                  justify-content: center;
                }

                #partierouge {
                  background-color: rgba(234, 46, 33, 0.199);
                  display: flex;
                  flex-wrap: wrap;
                  justify-content:center;
                  margin: 0 0;
                }

                #partiegrise {
                  background-color: rgba(230, 230, 230, 0.39);
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  margin: 0 0;
                  width: 100%;
                }
                #gallery {             
                  display: grid;  
                  grid-template-columns: repeat(10,10vw);      
                  grid-template-rows: repeat(49, 10vh);                  
                  gap: 5px; 
                  margin-left: 0px;
                  margin-right: 0px;
                }

                #gallery .galleryitems {
                  width: 100%;
                  height: 100%;
                  border: 2px solid rgb(71, 70, 70);
                  box-shadow:3px 3px 6px grey ;                                                                            
                  }

                  #gallery .galleryitems:hover {
                    transition: none;
                    box-shadow:10px 10px 15px grey ;
                    border: 4px solid grey;
                   }   

                /* Photo cooperation*/
                #G1 {
                  grid-area: 1 / 1 / 5 / 10 ;
                }

                /* Photo camion*/
                #G2 {
                  grid-area: 5 / 1 / 8 / 10 ;
                }

                /* Photo char*/
                #G3 {
                  grid-area: 8 / 1 / 12 / 10 ;
                }

                /* Photo maison d'acceuil*/              
                #G4 {
                  grid-area: 12 / 1 / 17 / 10 ;
                }
                /* Photo Baobab*/

                #G5 {
                  grid-area: 17 / 1 / 24 / 10 ;
                }
                /* Photo classe*/

                #G6 {
                  grid-area: 24 / 1 / 28 / 10 ;
                }

                /*Photo ecolier*/
                #G7 {
                  grid-area: 28 / 1 / 31 / 10 ;
                }

                /*Photo soeur/frere*/
                #G8 {
                  grid-area: 31 / 1 / 39 / 10;
                }

                /* Photo mangroves*/
                #G9 {
                  grid-area: 39 / 1 / 43 / 10 ;
                }

               /* Photo maires */
                #G10 {
                  grid-area: 43 / 1 / 46 / 10 ;
                }
    
                /*Photo pasteques*/
                #G11 {
                  grid-area: 46 / 1 / 48 / 10 ;
                }

                /*Photo pont*/
                #G12 {
                  grid-area: 48 / 1 / 50 / 10 ;
                }
              }
